<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>io.github.positoy.MyListener</listener-class>
  </listener>

  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>io.github.positoy.MyFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>helloServlet</servlet-name>
  </filter-mapping>

  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>io.github.positoy.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/helloservlet</url-pattern>
  </servlet-mapping>
</web-app>
